* {
    margin: 0;
    padding: 0;
}
/*body style and color */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
    }
/* Header style and color */
header {
     padding: 20px 35px;
    background-color: #39a6b2;
}
/* header h1 color and style */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}
/* header a color */
header a {
    text-decoration: none;
    color: #fce138;
}
/* header nav style */
header nav {
    float: right;
    margin: 7px 0;
}
/* header nav ul li style */
header nav ul li {
    display: inline;
}
/* header nav ul li a style */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
/* header h1 style */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}